.gallery-container {
  .img-container {
    position: relative;
    display: inline-block;
    // padding: 0;

    .pic {
      position: relative;
      width: 100%;
      height: 300px;
      // height: initial;
      // background: url("../img/LPT_8097.jpg");
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-position: center;
      border-radius: 0.6rem;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 1);
        opacity: 0.35;
        border-radius: 0.6rem;
        z-index: 2;
      }

      &:hover {
        transform: scale(1.05);

        &::before {
          opacity: 0.7;
          transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
        }
      }
    }

    .text {
      margin-bottom: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% - 24px);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%);
      z-index: 3;
      color: #ffffff;
      font-size: 1.5rem;
      text-transform: uppercase;
      cursor: default;
    }
  }
}
