$secondHover: 0.2s;

.gallery-container {
  .img-container {
    position: relative;
    display: inline-block;
    // padding: 0;

    .pic {
      position: relative;
      width: 100%;
      height: 300px;
      // height: initial;
      // background: url("../img/LPT_8097.jpg");
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-position: center;
      border-radius: 0.6rem;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 1);
        opacity: 0.35;
        border-radius: 0.6rem;
        z-index: 2;
      }

      &:hover {
        transform: scale(1.05);
        transition: all $secondHover ease-in-out;
        -moz-transition: all $secondHover ease-in-out;
        -webkit-transition: all $secondHover ease-in-out;

        &::before {
          opacity: 0.7;
        }

        & ~ .text {
          font-size: 1.8rem;
          transition: all $secondHover ease-in-out;
          -moz-transition: all $secondHover ease-in-out;
          -webkit-transition: all $secondHover ease-in-out;
        }
      }
    }

    .text {
      margin-bottom: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% - 24px);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%);
      z-index: 3;
      color: #ffffff;
      font-size: 1.5rem;
      text-transform: uppercase;
      cursor: default;
    }
  }

  .gallery-slider {
    .slider {
      img {
        border-radius: 0.6rem;
        height: 150px;
        object-fit: cover;
      }
    }
    .description {
      text-align: justify;
    }
  }
}

@media screen and (max-width: 768px) {
  .gallery-container {
    .img-container {
      & + .img-container {
        margin-top: 1rem;
        gap: 0.5rem;
      }
      .pic {
        height: 300px;
      }
    }
  }

  .gallery-slider {
    .slider {
      order: 2;
      width: 100%;

      img {
        margin: 0 0.2rem;
      }
    }
    .slick-dots {
      position: absolute;
      left: 0;
      bottom: -25px;
    }
    .description {
      order: 1;
    }
  }
}
